footer.row
  .col-sm-1.col-sm-offset-2.text-right.social-bar
    img.img-responsive(src='/assets/img/twitter.png')
    img.img-responsive(src='/assets/img/facebook.ico')
    img.img-responsive(src='/assets/img/rss.png')
  .col-sm-4.bottom-about
    strong {{ site.title }}
    p {{ site.email }}
    hr
    p {{ site.description }}
