.row
  .col-xs-12.col-sm-4.col-sm-offset-2.footer-content
    h1 {{ site.title }}
    .social-bar.no-padding.col-xs-12
      img.img-responsive(src='/assets/img/facebook.png')
      img.img-responsive(src='/assets/img/twitter.png')
      img.img-responsive(src='/assets/img/google.png')
      br
    strong Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
