#large-header
  @media (max-width: 786px)
    display: none
#small-header
  padding: 0
  margin: 0
  height: 55px
  @media (min-width: 786px)
    margin-bottom: 20px
  .row
    padding: 0
    margin: 0
    height: 100%

    nav
      border: none
      @media (min-width: 786px)
        border-top: solid 1px #616161
        border-bottom: solid 1px #616161
        border-radius: 0
      background: none
      @media (min-width: 786px)
        .navbar-header
          display: none
        .collapse
          width: 100%
          margin: 0
          padding: 0
          text-align: center
          ul
            width: 100%
            font-size: 15px
            @media (min-width: 1080px)
              width: 70%
              margin: 0 12.5%
              font-size: 18px
            float: center
            font-weight: 500
            li
              text-align: center
              width: 16.66%
              a
                color: black
